body {
  text-align: center;
  background-color: gray;
  background-image: url(/images/drumkit.jpg);
  background-blend-mode: soft-light;
}

h1 {
  font-size: 7rem;
  color:rgb(245, 106, 106);
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 0 #201b1f;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.w {
  background-image: url("images/tom4.png");
}

.a {
  background-image: url("images/kick.png");
}

.s {
  background-image: url("images/snare.png");
}

.d {
  background-image: url("images/tom1.png");
}

.j {
  background-image: url("images/tom2.png");
}

.k {
  background-image: url("images/tom3.png");
}

.l {
  background-image: url("images/crash.png");
}
.m {
  background-image: url("images/hihat.png");
  color: white;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid grey;
  font-size: 4rem;
  font-family: 'Itim', cursive;
  line-height: 2;
  font-weight: 400;
  color: salmon;
  text-shadow: 2px 0 black;
  border-radius: 50px;
  display: inline-block;
  width: 160px;
  height: 180px;
  text-align: bottom  center;
  margin: 10px;
  background-color: white;
  padding-top: 50px;
}
